# dependencies
node_modules/
stitch-portfolio/node_modules/

# next.js
.next/
stitch-portfolio/.next/

# firebase
.firebase/
stitch-portfolio/.firebase/

# production
out/
stitch-portfolio/out/
build/
stitch-portfolio/build/

# logs
*.log
stitch-portfolio/*.log

# env
.env*
stitch-portfolio/.env*

# DS_Store
.DS_Store

# stitch artifacts
stitch_*.json
get_screen_*.json
portfolio_design.png
